.page_home {
  position: relative;
}

.home_page_background {
  position: absolute;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  background-color: var(--background-backdrop);
}
.page_home_image_container {
  z-index: -1;
  height: calc(100vh - 90px);
  min-width: 1362px;
  background-image: url(../../assets/static/images/background.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center bottom;
}

.page_home_title {
  z-index: 1;
  max-width: 500px;
  position: absolute;
  top: 50px;
  left: 50px;
  text-transform: uppercase;
  text-align: left;
  font-weight: bold;
  font-size: 40px;
  color: var(--primary-white);
  margin: 0;
}
